<form class="to-do-list">  
<div class="tasks-list">
    <div class="checkbox">
      <label>
        <input ng-change="myStyle={'text-decoration': 'line-through'}" ng-model="done" type="checkbox"><p ng-style="myStyle">Clean room </p>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input ng-change="myStyle={'text-decoration': 'line-through'}" ng-model="done"  type="checkbox"><p ng-style="myStyle"> Shopping </p>
      </label>     
    </div>  
  </div>
   <div class="form-group">
    <label for="Input task">Input task</label>
    <input type="text" ng-model="task" class="form-control" id="inputTask" placeholder="Enter task">
  </div>
  <button type="submit" ng-click="addTask()" class="btn btn-default">Submit</button>
</form>
